<!-- <div class="container-fluid"> -->
    <h1 class="landing-title">Welcome to Prayerly</h1>


    <%= button_to "Come in", categories_path, :method => :get, id: "enter_button", class: "btn btn-primary" %>
    <p class="statement-one">"Encourage one another daily, as long as it is called Today…" - Hebrews 3:13</p>
    <div class="video-container">
      <%= video_tag "lit_candle.mp4", autoplay: :autoplay, loop: :loop, :class => "img-responsive" %>
    </div>
<!-- </div> -->
