<div class="container-fluid">
<h1 class="landing-title">Welcome to Prayerly</h1>
<%= button_to "Enter", categories_path, :method => :get, id: "enter_button" class: "btn btn-primary" %>
  <div class="video-container">
    <!-- <video autoplay loop muted>
      <source src="lit_candle.mp4" type="video/mp4">
      <source src="lit_candle.webm" type="video/webm">
    </video> -->
    <%= video_tag "lit_candle.mp4", autoplay: :autoplay, loop: :loop %>
  </div>
