<div class="prayer-list-container container">
  <% @prayers.each do |prayer| %>
  <div class="col-xs-12">
    <div class="panel panel-default">
      <div class="panel-body">
        <div class="row">
            <div class="col-xs-4" id="prayer-image">
              <%= image_tag prayer.image, :class => "img-responsive" %>
            </div>
            <div class="col-xs-8">
              <p class="list-group-item-text">
              <%= link_to prayer_path(prayer) do %>
                <h4>Title: <%= prayer.title %></h4>
              <% end %>
                <strong>Text:</strong> <p style="white-space: pre-wrap"><%= prayer.text %></p><br />
              </p>
            </div>
        </div>
        <br />
      </div>
    </div>
  </div>
  <% end %>
</div>
