<div class="prayer-list">
  <% @prayers.each do |prayer| %>
    <div class="row">
        <div class="col-sm-4 col-md-5" id="prayer-image">
          <%= image_tag prayer.image, :class => "img-responsive" %>
        </div>
        <div class="col-sm-8 col-md-7">
          <p class="list-group-item-text">
          <%= link_to prayer_path(prayer) do %>
            <h4>Title: <%= prayer.title %></h4>
          <% end %>
            <strong>Text:</strong> <p style="white-space: pre-wrap"><%= prayer.text %></p><br />
          </p>
        </div>
    </div>
    <br />
    <br />
  <% end %>
</div>
