<h1>Welcome to Prayers#Index</h1>

Put Searchbox

Display Links to Prayers

<% form_tag prayers_path, :method => 'get' do %>
  <p>
    <%= text_field_tag :search, params[:search] %>
    <%= submit_tag "Search", :title => nil %>
  </p>
<% end %>
