<div class="row">
    <div class="col-md-12">
      <%= image_tag @prayer.image %><br />
      <div>
       <strong>Title:</strong> <%= @prayer.title %><br />
      </div>
      <div>
        <strong>Text:</strong> <p style="white-space: pre-wrap"><%= @prayer.text %></p>
      </div>
      <div>
        <strong>Category ID:</strong> <%= @prayer.category_id %>
      </div>
    </div>
</div>

<div>
  
</div>
