
<div class="col-md-10 col-md-offset-1">
    <div class="panel panel-default">
      <div class="panel-heading">
        <h3 class="panel-title">Add a Category</h3><br />
        <%= form_for @category do |f| %>
        <div>
          <%= f.text_field :cat_name, required: true, placeholder: "Category name", class:"form-control" %>
        </div>

        <div class="submit_button">
          <%= f.submit "Save Category", class: "btn btn-success" %>
        </div>
        <% end %>
      </div>
    </div>
</div>
